<!DOCTYPE html>
<html>
  <head>
    <!--
		Name: Roan Bascoe
		Class: TECH-273
		Date: 12/3/23
		Proj: Final Project
	-->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styling/css/index.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li class="dropdown">
          <a href="#" class="dropbtn">Destinations</a>
          <div class="dropdown-content">
            <a href="../pages/spira-islands.html">Islands of Spira</a>
            <a href="../pages/largest-cities.html">Largest Cities</a>
            <a href="../pages/landscapes.html">Famous Landscape</a>
            <a href="../pages/mini-game.html">Mini-Game</a>
            <a href="../pages/references.html">References</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Final Fantasy X</a>
          <div class="dropdown-content">
            <a href="../../bascoe_roan_project1/pages/index.html">Home</a>
            <a href="../../bascoe_roan_project1/pages/story.html">Story</a>
            <a href="../../bascoe_roan_project1/pages/gameplay.html"
              >Gameplay</a
            >
            <a href="../../bascoe_roan_project1/pages/team.html">FFX Team</a>
            <a href="../../bascoe_roan_project1/pages/references.html"
              >References</a
            >
          </div>
        </li>
      </ul>
    </nav>
  </body>
</html>
